<!DOCTYPE html>
<html lang="en">
<head>
  <title>[PIoT] Engineer System</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container p-3 my-3 bg-dark text-white">
  <h1>[PIoT] Engineer System </h1>
  <div class="pos-f-t">
    <nav class="navbar navbar-dark bg-dark">
			<span class="navbar-brand">Hi, {{ member["firstName"] }} {{member["lastName"]}}</span>
			<a class="btn btn-link text-light" href="/logout"><small>&gt;&gt; Logout</small></a>
      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent">
        <span class="navbar-toggler-icon"></span>
	    </button>
  	</nav>
	  <div class="collapse bg-dark" id="navbarToggleExternalContent">
  	  <ul class="nav">
    	  <li class="nav-item">
      	  <a class="btn bg-secondary text-white disabled" href="/engineer">Cars</a>&nbsp;
	      </li>
  	    <li class="nav-item">
    	    <a class="btn bg-secondary text-white" href="/emaps">Maps</a>&nbsp;
	      </li>
	    </ul>
  	</div>
	</div>
</div>

<div class="container p-3 my-3">

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Car No</th>
        <th>Make</th>
        <th>Body Type</th>
        <th>Colour</th>
        <th>Seats</th>
        <th>Location</th>
        <th>Cost/hr</th>
      </tr>
    </thead>
    <tbody>
      {% for car in cars %}
      <tr>
        <td>{{ "C%04d" % car["id"] }}</td>
        <td>{{ car["make"] }}</td>
        <td>{{ car["bodyType"] }}</td>
        <td>{{ car["colour"] }}</td>
        <td>{{ car["seats"] }}</td>
        <td>{{ car["location"] }}</td>
        <td>{{ "$%.2f" | format(car["costPerHour"]) }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

</body>
</html>