<!DOCTYPE html>
<html lang="en">
<head>
  <title>[PIoT] Car Share System - Welcome</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container p-3 my-3 bg-dark text-white">
  <h1>[PIoT] Car Share System - Welcome</h1>
  <div class="pos-f-t">
    <nav class="navbar navbar-dark bg-dark">
      <span class="navbar-brand">Welcome</span>
      <a class="btn btn-link text-light" href="/register"><small>&gt;&gt; Register</small></a>
      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" disabled>
        <span class="navbar-toggler-icon"></span>
	    </button>
  	</nav>
	  <div class="collapse bg-dark" id="navbarToggleExternalContent">
  	  <ul class="nav">
    	  <li class="nav-item">
      	  <a class="btn bg-secondary text-white" href="/cars">Cars</a>&nbsp;
	      </li>
  	    <li class="nav-item">
    	    <a class="btn bg-secondary text-white" href="/gmaps">Maps</a>&nbsp;
	      </li>
  	    <li class="nav-item">
    	    <a class="btn bg-secondary text-white" href="/history">History</a>&nbsp;
	      </li>
	    </ul>
  	</div>
	</div>
</div>

<div class="container p-3 my-3">
  {% if error is not none and error %}
  <div class="alert alert-danger alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Error!</strong> Username or password incorrect!
  </div>
  {% elif error is not none and not error %}
  <div class="alert alert-success">
    <strong>Success!</strong> Member {{ member["username"] }} loged in! Redirecting to <a href="{{ url_for('.cars') }}">Cars</a> in 3 seconds...
  </div>
  <meta http-equiv="refresh" content="3;url={{ url_for('.cars') }}">
  {% endif %}
  <form action="/welcome" method="post">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control" id="username" name="username"{% if error is not none and not error %} disabled{% endif %}>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" name="password"{% if error is not none and not error %} disabled{% endif %}>
    </div>
    <button type="submit" class="btn btn-dark">Login</button>
  </form>
</div>

</body>
</html>
